@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
  background-color: #95D600;

}

/* .app {
  
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
  
} */


.App {
  padding: 25px;
}

h2 {
  text-align: center !important;
 
  color: #000000;
}
.pic {
  margin-top: 10px;
}
  


main {
  min-height: 100vh;
  padding:25px;
}
.spacer {
  margin-left: 50px;
  color: white;
}

.topnav {
  padding: 10px;
  background-color: #ddd;
  color: black;
}

.date {
  color: #000000;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center ;
}

.banner {
  padding: 30px;
}
.banner-img {
  padding: 25px;

}
.ban-img1{
  border-radius: 50%;
  width: 100%;
  max-width: 400px;
  height: auto;
}
.row1{
  text-align:center;
  margin:0 auto;
}
.text{
  padding: 21px;
  justify-content: center;
}
.row1 .col-md-3{
 display:inline-block;
 vertical-align: middle;
 float: none;
}
.search-bar {
  width: 100%;
  max-width: 400px;
  height: auto;
  
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);


color: #313131;
font-size: 20px;

transition: 0.4s ease;

}
.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}
.weather-box {
  text-align: center;
}

.headings {
  text-shadow: 2px grey;
  font-family: 'Roboto', sans-serif !important;
}

.weather-box .weather {
  color: #000000;
  font-size: 48px;
  font-weight: 700px;
  text-align:center ;
}
.weather-box .temp1 {

  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: #000000;
  border-radius: 16px;
  margin-left: 40px;
  padding: 15px 25px;

  color: white;
  font-size: 30px;
  font-weight: 100;


  text-align: center;
  box-shadow: 0 20px 20px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.weather-box .temp2 {

  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: #000000;
  border-radius: 16px;
  margin-left: 40px;
  padding: 15px 25px;

  color: white;
  font-size: 30px;
  font-weight: 100;


  text-align: center;
  box-shadow: 0 20px 20px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.weather-box {
  padding: 25px;
}
.temp3 {
 
  margin-top: 30px;
  position: relative;
  display: inline-block;
  background-color: #000000;
  border-radius: 16px;
  margin-left: 40px;
  padding: 15px;
  color: white;
  font-size: 30px;
  font-weight: 100;


  text-align: center;
  box-shadow: 0 20px 20px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
weather-box .temp4 {

  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: #000000;
  border-radius: 16px;
  margin-left: 40px;
  padding: 15px 25px;

  color: white;
  font-size: 30px;
  font-weight: 100;


  text-align: center;
  box-shadow: 0 20px 20px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.icons {
  align-items: initial;
  font-size: 50px;
  margin-top: 30px;
  margin-right: 40px;
  transition: 1s;
    left: 0;

}

h4 {
  font-size: 25px;
  font-family: 'Comic Neue', cursive;
  text-align: center;
  font-weight: 90;
  color: white;
}

h3 {
  font-size: 25px;
  font-family: 'Comic Neue', cursive;
  margin-right: 90px;
  color: white;
}
.icon-spin {
  margin-left: 6px;
  -webkit-animation: icon-spin 2s infinite linear;
          animation: icon-spin 2s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
.Stats {
  padding:55px 25px;
  }
  .graph {
  position: relative;
  border-radius: 16px;
  height: 400px;
  padding: 10px;
  
 background-color: black;
  border-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 20px 20px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hello {
  color: red !important;
}
.topnav {
  background-color: #0A0A0A;
  overflow: hidden;
  border-radius: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */


/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
div.image {
content: url(https://i.pinimg.com/originals/26/4e/30/264e30439c42387c1e3c48d2d038429d.png);
}


.headings {
  font-family: cursive;
}

.a {
  color: salmon;
}
.b {
  color: white;
}
.c {
  color: greenyellow;
}

